body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgb(249, 3, 183);
}
h2{
    text-align: center;
    color:blueviolet;
}
input,button{
    padding: 10px;
    margin: 10px;

}
ul{
    list-style:disc;
    padding:0;
}
li
{
    background-color: azure;
    padding: 10px;
    margin: 5px 0;
}